body{
	padding: 0;
	margin: 0;
}
body,p,table,tr,td,ul,li,a,div,h1,h2,h3,h4,h5,h6{
	margin:0;
	padding:0;
	font-family:"微软雅黑","Microsoft Yahei";
	}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	border: 0 none;
}
a:hover{
	color: #e83421;
	transition: all .3s;
}
.clearfix:after{ 
	content:"."; 
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
	}
.clearfix{
	zoom: 1;
}

/*样式重置部分*/
.dafanhui{
	display: none;
	position: fixed;
	width: 100px;
	height: 100px;
	text-align: center;
	line-height: 100px;
	border-radius: 50px;
	bottom: 150px;
	right: 50px;
	color: white;
	background: #e83421;
	z-index: 100;
}


#nav{
	width: 100%;
	height: 150px;
	/*background: red;*/
}
.navigation .active{
	color: #e83421;
}
.underlying{
	margin:0 auto;
	width: 1200px;
	height: 150px;
	position: relative;
	/*background: green;*/
}
.logo{
	position: absolute;
	margin-top:44px;
	cursor: pointer;
}
.box{
	width: 1200px;
	height: 62px;
	/*background: pink;*/
	position: absolute;
	margin-top: 44px;
}
.navigation{
	position: relative;
	text-align: center;
	margin-left: 416px;
}
.navigation>li>a{
	float: left;
	font-size: 20px;
	color:#000000;
	margin-right: 26px;
	line-height: 62px;
}
.box>img{
	float: right;
	margin-top: 27px;
	position: relative;
	margin-right:8px;
}
.box>input{
	float: right;
	margin-top:23px;
	/*border: 1px solid #929090;*/
	margin-right: -16px;
	border: none;
	box-shadow: 1px 1px #f5f5f5;
}
.navigation>li>a:hover{
	color: #e83421;
}                                /*导航栏已完成*/



.banner{
	max-width: 100%;
	overflow: hidden;
	height:300px;
}
.weizhi{
	width: 1200px;
	height: 115px;
	margin: 0 auto;
	border-bottom: 2px solid #b0afaf;
}
.weizhi>a{
	text-decoration: none;
	font-size: 30px;
	color: #000000;
	line-height: 115px;
}
.weizhi:hover .a2{
	color: #e83421;
}

/*下一部分*/
.content{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	margin-top: 30px;
}
.content .li1{
	width: 1200px;
	height: 315px;
	position: relative;
}
.content .li1>a{
	display: inline-block;
	float: left;

}
.content .li1>a>img{
	display: block;
}
.content .li1>a>.hide1{
	width: 700px;
	height: 315px;
	position: absolute;
	top: 0px;
	left: 0;
	text-align: center;
	line-height: 350px;
	display: none;
	opacity: 0.6;
	background: black;
}
.content .li1>a:hover .hide1{
	display: block;
}


.xiangcun1{
	margin-left: 50px;
	width: 420px;
	height: 230px;
	float: left;
	margin-top: 45px;
}
.xiangcun1>p{
	margin-top: 30px;
	font-size: 16px;
	color: #413f3f;
	line-height: 36px;

}




.content .li2{
	margin-top: 45px;
	width: 1200px;
	height: 315px;
	position: relative;
}
.content .li2>a{
	display: inline-block;
	float: right;

}
.content .li2>a>img{
	display: block;
}
.content .li2>a>.hide2{
	width: 700px;
	height: 315px;
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
	line-height: 350px;
	display: none;
	opacity: 0.6;
	background: black;
}
.content .li2>a:hover .hide2{
	display: block;
}


.xiangcun2{
	margin-left: 30px;
	width: 420px;
	height: 230px;
	float: left;
	margin-top: 45px;
}
.xiangcun2>p{
	margin-top: 30px;
	font-size: 16px;
	color: #413f3f;
	line-height: 36px;

}


.content2{
	margin-top: 50px;
}

.li-end{
	margin-top: 50px;
	margin-bottom: 20px;
	padding-bottom: 80px;
	border-bottom: 2px solid #b0afaf;
}

/*分页*/
.arrow2
        {
            margin: 3px 8px 4px 0;
            border-left: 5px dashed transparent;
            border-bottom: 5px dashed transparent;
            border-top: 5px dashed transparent;
            border-right: 5px solid #ccc;
            display: inline-block;
            vertical-align: middle;
        }
        .arrow3
        {
            margin: 3px 0 4px 8px;
            border-top: 5px dashed transparent;
            border-bottom: 5px dashed transparent;
            border-right: 5px dashed transparent;
            border-left: 5px solid #ccc;
            display: inline-block;
            vertical-align: middle;
        }

.centent5{
    width: 1200px;
    margin:0 auto;
    text-align: center;
}
.centent5 a{
	display: inline-block;
	margin-right: 10px;
	background: #e83421;
}
.pagination>.active>a{
	background: #e83421 !important;
}


/*该第六部分了*/
#end{
	width: 100%;
	height: 468px;
	background: #f2f2f2;
	margin: 0 auto;
}
.bottom{
	margin:0 auto;
	/*margin-right: 10px;*/
	width: 1200px;
	height: 200px;
	/*background: green;*/
}
.bottom-ul{
	padding-top: 40px;
}
.bottom-ul .xiaoshi{
	margin-right:0;
}
.bottom-ul>li>a{
	float: left;
	font-size: 20px;
	color: #000;
	margin-right: 195px;            /*集团介绍 的右间距的距离*/
}
.bottom-one{
	padding-top:35px;
}
.bottom-one{
	float: left;
	margin-right: 222px;
}
.bottom-one:nth-child(6){
	margin-right:0;
}
.bottom-one>li>a{
	font-size: 14px;
	line-height: 28px;
	color: #5a5a5a;
}
.bottom-one>li>a:hover{
	color: #e83421;
}                                  /*底部导航完成*/
.copyright{
	margin:0 auto;
	width: 1200px;
	height: 200px;
	/*background: pink;*/
}
.copyright-one{
	width: 420px;
	height: 86px;
	padding-left: 356px;
	padding-top: 50px;
	text-align: center;
	/*background: green;*/
	float: left;
}
.copyright-one>p{
	width: 420px;
	height: 86px;
	font-size: 16px;
	line-height: 30px;
	margin-top:30px;
	color: #5a5a5a;
}
.copyright-one>p>a{
	font-size: 16px;
	text-decoration: underline;
}
.copyright-one>p>a:hover{
	color: #3384b7;
}                                       /*下部版权部分已结束*/
.bottom-icon{
	width: 130px;
	height: 26px;
	/*background: pink;*/
	float: right;
	display: inline;
	margin-top: 135px;
	margin-right: 100px;
}
.bottom-icon-1>li{
	width: 26px;
	height: 26px;
	float: left;
}